InfoTrackWebScraper.Api/bin
InfoTrackWebScraper.Api/obj
InfoTrackWebScraper.Application/bin
InfoTrackWebScraper.Application/obj
InfoTrackWebScraper.Contracts/bin
InfoTrackWebScraper.Contracts/obj
InfoTrackWebScraper.Services/bin
InfoTrackWebScraper.Services/obj